# Server configuration
PORT=5000
NODE_ENV=development

# Database configuration
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=efocus_ecommerce

# Connection pool configurations
DB_CONNECTION_LIMIT=10
DB_WAIT_FOR_CONNECTIONS=true
